input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.errorToast{
    position: absolute;
    top:1rem;
    right:0;
    left:0;
    margin: auto;
    z-index: 7000;
}

.successToast{
    position: absolute;
    top:1rem;
    right:0;
    left:0;
    margin: auto;
    z-index: 7000;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}